@model IEnumerable<Toolivahendus2.Models.TooliVahendus>

@{
    ViewData["Title"] = "Admin Paneel";
}

<h1>Admin paneel</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eesnimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perekonnanimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tellimuskogus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firmanimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firmaemail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valminudkogus)
            </th>
            <th>
               Veel Valmistida
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var count = 0;
        }
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Eesnimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perekonnanimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tellimuskogus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firmanimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firmaemail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valminudkogus)
            </td>
            <td>
                @{
                    var teha = item.Tellimuskogus - item.Valminudkogus;
                    count += teha;

                } 
                @(teha)
            </td>
            <td>
                <a asp-action="Andmed" asp-route-id="@item.Id">Andmed</a> |
                <a asp-action="Muutmine" asp-route-id="@item.Id">Muuda</a> |
                @if ((item.Tellimuskogus != item.Valminudkogus))
                {
                    <a asp-action="IncreaseValue" asp-route-id="@item.Id">Uus tool</a>
                }
                @if (item.Valminudkogus == 0 || item.Valminudkogus == item.Tellimuskogus)
                {

                    <a asp-action="Kustutamine" asp-route-id="@item.Id">Eemaldamine</a> @:|


                }




            </td>
        </tr>
        }
        
        @*kõik kokku
        ja palju teha*@

        <tr>
            <th colspan="6"></th>
            <th>
                Kokku teha:
            </th>
            <th>@(count)</th>
            <th></th>
        </tr>
    </tbody>
</table>

