@model Toolivahendus2.Models.TooliVahendus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TooliVahendus</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Eesnimi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Eesnimi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perekonnanimi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perekonnanimi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Toon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Toon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tellimuskogus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tellimuskogus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firmanimi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firmanimi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firmaemail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firmaemail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valminudkogus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valminudkogus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
