@model IEnumerable<Toolivahendus2.Models.TooliVahendus>

@{
    ViewData["Title"] = "Index";
}

<h1>Admin paneel</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eesnimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perekonnanimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tellimuskogus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firmanimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firmaemail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valminudkogus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Eesnimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perekonnanimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Toon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tellimuskogus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firmanimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firmaemail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valminudkogus)
                </td>
                <td>
                    @if ((item.Tellimuskogus == item.Valminudkogus))
                    {
                        <a asp-action="Andmed" asp-route-id="@item.Id">Andmed</a>
                        <a asp-action="Kustutamine" asp-route-id="@item.Id">Eemaldamine</a>
                    }
                    else
                    {
                        <a asp-action="Muutmine" asp-route-id="@item.Id">Muuda</a>
                        <a asp-action="Andmed" asp-route-id="@item.Id">Andmed</a>
                        <a asp-action="Kustutamine" asp-route-id="@item.Id">Eemaldamine</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
